.nav {
    list-style: none;
    display: flex;
    padding: 0;
}
.main .nav a{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 50em;
    padding: 15px 30px;
    margin: 0 8px;
    text-transform: uppercase;
    font-weight: bold;
    width: 33%;
}